@page "/"
@using YugiTrivia.Shared;
@using YugiTrivia.Client.Shared;

@inject HttpClient http;

<button @onclick="GetRandomCard"> Get Random Card</button>

<br />
@if (randomCard is null)
{
    <p>...</p>
}
else
{
    <ItemCard
    id=@randomCard.Id
    name=@randomCard.Name
    type=@randomCard.Type
    tcgDate=@randomCard.TcgDate
    artwork=@randomCard.Artwork>
</ItemCard>

}

@code {
    TriviaCard randomCard = new TriviaCard();
    protected override async Task OnInitializedAsync()
    {
       await GetRandomCard();
    }
    protected async Task GetRandomCard()
    {
        randomCard = await http.GetFromJsonAsync<TriviaCard>("api/test");
    }


}